body {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#logo {
  font-weight: 500;
  font-size: 1.5;
  border: 1px solid black;
  display: inline;
  padding: 3px;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  color: black;
}

footer {
  margin-top: 3rem;
  border-top: 1px solid black;
}
