body {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
}
#logo {
  font-weight: 500;
  font-size: 1.5;
  border: 1px solid black;
  display: inline;
  padding: 3px;
}
ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}
li {
  margin-left: 4rem;
}
a {
  color: black;
}
.project-types {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer {
  margin-top: 3rem;
  border-top: 1px solid black;
}
.projectDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectImg {
  width: 1000px;
  padding-bottom: 10px;
  justify-content: center;
}
.imgLinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Images {
  width: 100%;
}
.Layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}

#input,
#input2 {
  width: 50%;
}
.contactContainer {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.contactForm {
  width: 100%;
  row-gap: 5px;
}
button {
  width: 20%;
}

@media screen and (max-width: 520px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }
  ul {
    margin-top: 0;
  }
  li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
  .project-types {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 10%;
    align-content: center;
    justify-content: center;
  }
  .Layout {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1px;
    align-content: center;
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .Layout {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 1px;
    align-content: center;
    justify-content: center;
  }
}

.hover:hover {
  animation: bigger 0.4s ease-out forwards;
}

@keyframes bigger {
  30% {
    transform: scale(1.1) rotate(2deg);
  }
  60% {
    transform: scale(1.15) rotate(-2deg);
  }
  100% {
    transform: scale(1.2) rotate(0deg);
  }
}
